extends ../layout

block content
  .page-header
    h3 Token request
    
  .token
    #{identity.token}

  form.form-horizontal(action='/token/request', method='POST')
    .form-group
      label.col-xs-3.control-label(for='name') Company name
      .col-xs-4
        input.form-control(type='text', name='name', id='name', value='#{identity.name}', placeholder='', required)
    .form-group
      label.col-xs-3.control-label(for='email') Contact email
      .col-xs-4
        input.form-control(type='email', name='email', id='email', value='#{identity.email}', placeholder='We don\'t spam', required)
    .form-group
      label.col-xs-3.control-label(for='baseurl') Website base URL
      .col-xs-4
        input.form-control(type='text', name='baseurl', id='baseurl', value='#{identity.baseurl}', placeholder='Be accurate' required)
    .form-group
      .col-xs-offset-3.col-xs-4
        button.btn.btn.btn-primary(type='submit') Request