#footer
  .container.text-center
    div
      | © 2014 Your Design Alive LLC.
    div
      strong Pictor
      |  Project
      |  ·
      | Created by
      a(href='http://sitrion.com')  Daniel Tucker
    div
      | Code licensed under
      a(href='http://opensource.org/licenses/mit-license.html')  MIT License
    div
      a(href='https://bitbucket.org/dantuck/pictor') Bitbucket Project
      |  ·
      a(href='https://bitbucket.org/dantuck/pictor/issues')  Issues
!= js('/js/lib/syntaxhighlighter/shCore')
!= js('/js/lib/syntaxhighlighter/brushes/shBrushCSharp')
!= js('/js/lib/syntaxhighlighter/brushes/shBrushJScript')

script.
  SyntaxHighlighter.all()