.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/') Pictor
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        li(class=title=='Get Started'?'active':undefined)
          a(href='/getstarted') Get Started
        li(class=title=='API Browser'?'active':undefined)
          a(href='/api') API Browser