extends layout

block content
  h1 Get started with Pictor
    p.lead
      | Embrace the speed and no hassle way to request images
  p
    | Pictor is opensource and licensed as MIT which means you can use and modify the source as you please. Now all you have to do is check it out and use it.
  h2 What is Pictor?
  p
    | Pictor is a image proxy service designed to take an image request and transform the response into the requested scheme plus any other modification requests. If you have ever received the infamous&nbsp;
    i
      a(href='https://developer.mozilla.org/en-US/docs/Security/MixedContent', target='_blank') Mixed Content
    | &nbsp;warning this is your solution.
  h2 How to get started
  ol
    li 
      | Request a token and API key
    li
      | Implement the token and key
      p
        h4 C#
      pre(class="brush: csharp")
        | using System;
        | using System.Collections.Generic;
        | using System.Linq;
        | using System.Text;
        | using System.Security.Cryptography;
        | using System.Web;
        | using System.Globalization;
        | using System.Net;
        | 
        | namespace Custom.Library.Utility
        | {
        |   public static class PictorHelper
        |   {
        |     private static bool _IsAlive { get; set; }
        |     private static int _IsAliveTryCount = 0;
        |     private static DateTime _IsAliveRetryAt { get; set; }
        | 
        |     public static Boolean IsAlive(PictorSettings setting)
        |     {
        |       if (_IsAliveTryCount >= 10)
        |       {
        |         _IsAliveTryCount = 0;
        |         _IsAliveRetryAt = DateTime.UtcNow.AddMinutes(30);
        |       }
        | 
        |       try
        |       {
        |         if (DateTime.UtcNow >= _IsAliveRetryAt)
        |         {
        |           Uri address;
        | 
        |           var url = String.Format(CultureInfo.InvariantCulture, "http://{0}/token/stats/{1}", setting.Url, setting.Key);
        |           Uri.TryCreate(url, UriKind.RelativeOrAbsolute, out address);
        | 
        |           var request = WebRequest.Create(address);
        |           if (request == null) return false;
        |           request.Method = "GET";
        |           var timeout = request.Timeout;
        |           request.Timeout = 10000;
        |           using (var response = (HttpWebResponse)request.GetResponse())
        |           {
        |             if (response.StatusCode == HttpStatusCode.OK)
        |             {
        |               _IsAlive = true;
        |               _IsAliveRetryAt = DateTime.UtcNow.AddMinutes(5);
        |             } else {
        |               _IsAlive = false;
        |               _IsAliveTryCount++;
        |               _IsAliveRetryAt = DateTime.UtcNow.AddMinutes(1);
        |             }
        |           }
        |         }
        |       }
        |       catch (UriFormatException).
        |       {
        |         //Invalid Url
        |         _IsAlive = false;
        |         _IsAliveTryCount++;
        |         _IsAliveRetryAt = DateTime.UtcNow.AddMinutes(12);
        |       }
        |       catch (WebException)
        |       {
        |         //Unable to access url
        |         _IsAlive = false;
        |         _IsAliveTryCount++;
        |         _IsAliveRetryAt = DateTime.UtcNow.AddMinutes(1);
        |       }
        | 
        |       return _IsAlive;
        |     }
        | 
        |     public static String CreateSignature(string message, string secret)
        |     {
        |       secret = secret ?? "";
        |       var encoding = new System.Text.ASCIIEncoding();
        |       byte[] keyBytes = encoding.GetBytes(secret);
        |       byte[] messageBytes = encoding.GetBytes(message);
        |       using (var hmacsha256 = new HMACSHA256(keyBytes))
        |       {
        |         byte[] hashmessage = hmacsha256.ComputeHash(messageBytes);
        |         return Convert.ToBase64String(hashmessage);
        |       }
        |     }
        | 
        |     public static String ProxyImageUri(string imageUrl, PictorSettings settings)
        |     {
        |       if (!IsAlive(settings))
        |         return imageUrl;
        | 
        |       Uri img;
        |       if (Uri.TryCreate(imageUrl, UriKind.RelativeOrAbsolute, out img))
        |       {
        |         if (img.Query.Contains("p_signature"))
        |         {
        |           var query = img.Query.Substring(1).Split('&').ToList();
        |           var pictorOptions = query.Where(i => i.StartsWith("p_", StringComparison.OrdinalIgnoreCase)).ToList();
        |           query.RemoveAll(i => pictorOptions.Contains(i));
        |           var opts = String.Join("&", pictorOptions.Select(o =>
        |           {
        |             var index = o.IndexOf('=');
        |             o = o.Substring(0, index + 1) + HttpUtility.UrlEncode(o.Substring(index + 1));
        |             return o; 
        |           }).ToArray());
        | 
        |           var cleanedImageUrl = String.Format(
        |             CultureInfo.InvariantCulture, 
        |             "{0}{1}", 
        |             imageUrl.Replace(img.Query, String.Empty),
        |             query.Count > 0 ? (String.Join("&", query.Select(i => i).ToArray())).Insert(0, "?") : string.Empty
        |             );
        | 
        |           var result = String.Format(CultureInfo.InvariantCulture, "//{0}/api/getimage/{1}/?{2}&p_apikey={3}", settings.Url, HttpUtility.UrlEncode(cleanedImageUrl), opts, settings.Key);
        |           return result;
        |         }
        |       }
        | 
        |       // something went wrong
        |       return imageUrl;
        |     }
        | 
        |     public static String AddSignatureToUri(string imageUrl, PictorSettings settings, List<string> options)
        |     {
        |       string host = settings.Url;
        | 
        |       var result = new UriBuilder(imageUrl);
        | 
        |       if (options == null) options = new List<string>();
        |       options.Add(String.Format(CultureInfo.InvariantCulture, "signature={0}", HttpUtility.UrlEncode(CreateSignature(result.Uri.ToString(), settings.Secret))));
        |       string opts = String.Join("&", options.Select(i => String.Format(CultureInfo.InvariantCulture, "p_{0}", i)).ToArray());
        | 
        |       result.Query = opts;
        | 
        |       return result.Uri.ToString();
        |     }
        |   }
        | 
        |   public class PictorSettings
        |   {
        |     public bool IsEnabled { get; set; }
        |     public string Url { get; set; }
        |     public string Key { get; set; }
        |     public string Secret { get; set; }
        | 
        |     public PictorSettings(bool enabled)
        |     {
        |       this.IsEnabled = enabled;
        |     }
        | 
        |     public PictorSettings(bool enabled, string url, string key)
        |     {
        |       this.IsEnabled = enabled;
        |       this.Url = url;
        |       this.Key = key;
        |     }
        | 
        |     public PictorSettings(bool enabled, string url, string key, string secret)
        |     {
        |       this.IsEnabled = enabled;
        |       this.Url = url;
        |       this.Key = key;
        |       this.Secret = secret;
        |     }
        |   }
        | }

      p
        h4 JavaScript
      pre(class="brush: js")
        | &lt;script type=&quot;text/javascript&quot; src=&quot;http://crypto-js.googlecode.com/svn/tags/3.0.2/build/rollups/hmac-sha256.js&quot;&gt;
        | &lt;/script&gt;&lt;script type=&quot;text/javascript&quot; src=&quot;http://crypto-js.googlecode.com/svn/tags/3.0.2/build/components/enc-base64-min.js&quot;&gt;&lt;/script&gt;
        | &lt;script type=&quot;text/javascript&quot;&gt;// &lt;![CDATA[
        |   var hash = CryptoJS.HmacSHA256(&quot;Message&quot;, &quot;secret&quot;);
        |   var hashInBase64 = CryptoJS.enc.Base64.stringify(hash);
        |   document.write(hashInBase64);
        | // ]]&gt;&lt;/script&gt;