doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='Daniel Tucker - Sitrion')
    title #{title} - Pictor
    != css('styles')
    != css('/js/lib/syntaxhighlighter/shCore')
    != css('/js/lib/syntaxhighlighter/shThemeDefault')
    != js('application')
  body
    #wrap
      include partials/navigation
      .container
        include partials/flash
        block content
    include partials/footer

    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-49323036-1', 'dantuck.com');
      ga('send', 'pageview');