@import (less) "lib/animate.css";
@import (less) "lib/font-awesome.min.css";
@import "lib/bootstrap/bootstrap";
@import "themes/default";

// Scaffolding
// ---- ---------------------

html, body {
  height: 100%;
}

body {
  padding-top: 70px;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -110px;
  /* Pad bottom by footer height + (optional) extra spacing */
  padding: 0 0 120px;
}

#footer {
  height: 110px;
  padding-top: 15px;
}

// Navbar
// -------------------------

@navbar-height: 45px;

.navbar-nav .profile-image {
  width: 30px;
  height: 30px;
  margin: -15px 15px -15px 0;
}

.navbar-brand {
  background-repeat: no-repeat;
  background-size: 40px;
  background-position: left center;
  //padding-left: 50px;
  margin-left: 15px;
  height: 45px;
}

// Social Buttons
// -------------------------

.btn-facebook {
  color: #fff;
  background: #3b5998;
  border: 1px solid rgba(0, 0, 0, 0.07);

  &:hover {
    color: #fff;
  }
}

.btn-twitter {
  color: #fff;
  background: #00aced;
  border: 1px solid rgba(0, 0, 0, 0.07);

  &:hover {
    color: #fff;
  }
}

.btn-google-plus {
  color: #fff;
  background: #dd4b39;
  border: 1px solid rgba(0, 0, 0, 0.07);

  &:hover {
    color: #fff;
  }
}

.btn-github {
  color: #fff;
  background: #333;
  border: 1px solid rgba(0, 0, 0, 0.07);

  &:hover {
    color: #fff;
  }
}

// Extra space between font-awesome icons and text
[class^="fa-"],
[class*="fa-"] {
  margin-right: 5px;
}

// Thumbnails
.thumb {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.thumb img {
  margin-bottom: 5px;
  margin-right: 5px;
  opacity: 0.2;
  transition: opacity 0.2s;
}

.thumb:hover img {
  opacity: 1;
  box-shadow: 0 0 3px 1px @brand-primary;
}

.facebook-caption {
  position: absolute;
  background-color: rgba(0,0,0,0.5);
  font-size: 12px;
  color: #fff;
  padding: 3px;
  bottom: 25px;
}