extends ../layout

block content
  .page-header
    h2
      i
      | Pictor image proxy demo

  img(src=image + '/?p_h=300&p_' + signature, class="img-responsive")

  h4 Required Uri Parameters

  ul
    li
      | p_signature={the signed request}
    li
      | p_apikey={issued apikey}

  h4 Optional Uri Parameters

  ul
    li
      h4 Define the width
      | p_w={value}
      p
        pre
          code #{image}/?p_w=200&#{signature}
        img(src=image + '/?p_w=200&p_' + signature)

    li
      h4 Define the height
      | p_h={value}
      p
        pre
          code #{image}/?p_w=600&p_h=150&#{signature}
        img(src=image + '/?p_w=600&p_h=150&p_' + signature)
  
    li
      h4 Apply a border
      | p_frame=1
      p
        pre
          code #{image}/?p_w=400&p_h=100&p_frame=1&#{signature}
        img(src=image + '/?p_w=400&p_h=100&p_frame=1&p_' + signature)

      | p_border_fs={value}
      p
        pre
          code #{image}/?p_w=400&p_h=100&p_border_fs=10&#{signature}
        img(src=image + '/?p_w=400&p_h=100&p_border_fs=10&p_' + signature)

      | p_border_fc={value}
      p
        pre
          code #{image}/?p_w=400&p_h=100&p_border_fc=000000&#{signature}
        img(src=image + '/?p_w=400&p_h=100&p_border_fc=000000&p_' + signature)

      | p_border_w={value}
      p
        pre
          code #{image}/?p_w=400&p_h=100&p_border_w=5&#{signature}
        img(src=image + '/?p_w=400&p_h=100&p_border_w=5&p_' + signature)

      | p_border_c={value}
      p
        pre
          code #{image}/?p_w=400&p_h=100&p_border_c=000000&#{signature}
        img(src=image + '/?p_w=400&p_h=100&p_border_c=000000&p_' + signature)