extends ../layout

block content
  .page-header
    h2
      i
      | Link preview

  h3
    span #{title}

  p #{desc}

  each image, index in images
    img(src='/api/getimage/' + encodeURIComponent(image.src) + '/?w=200', title=image.title, alt=image.alt)